{% extends "layout.html" %}

{% block content %}

<p><a href="/new">新規登録</a></p>
<p>{{ message }}</p>

<table border="1" style="border-collapse: collapse">
    <tr>
        <th>ID</th>
        <th>氏名</th>
        <th>e-mail</th>
        <th>取得資格</th>
        <th>登録日</th>
    </tr>
    {% for user in users %}
        <tr>
            <th>{{ user.user_id }}</th>
            <th>{{ user.name }}</th>
            <th><a href="/update/{{ user.user_id }}">{{ user.mail }}</a></th>
            <th>{{ ", ".join(grouped_shikakus[user.user_id]) if grouped_shikakus[user.user_id] else "" }}</th>
            <th>{{ user.created_at.strftime("%Y/%m/%d %H:%M") }}</th>
        </tr>
    {% endfor %}
</table>

<p><a href="/">メニューに戻る</a></p>
{% endblock %}