{% extends "layout.html" %}

{% block content %}
<h1>新規登録</h1>

<div>
    <form action="/new" method="post">
        <p>
            <label for="username">名前</label>
            <input type="text" id="username" name="username" required>
        </p>
        <p>
            <label for="email">email</label>
            <input type="email" id="email" name="email" required>
        </p>
        <p>
            <label for="password">パスワード</label>
            <input type="password" id="password" name="password" required>
        </p>

        <button type="submit">登録</button>
    </form>
</div>

<p><a href="/master">ユーザーマスタに戻る</a></p>
{% endblock %}