{% extends "layout.html" %}

{% block content %}
<h1>新規登録</h1>

<div>
    <form action="/new" method="post">
        <p>
            <label for="email">e-mail</label>
            <input type="email" id="email" name="email" required>
        </p>
        <p>
            <label for="username">名前</label>
            <input type="text" id="username" name="username" required>
        </p>
        <p>
            <label for="password">パスワード</label>
            <input type="password" id="password" name="password" required>
        </p>
        <p>
            <label for="gender">性別</label>
            <input type="text" id="gender" name="gender">
        </p>
        <p>
            <label for="post_code">郵便番号</label>
            <input type="text" id="post_code" name="post_code">
        </p>
        <p>
            <label for="address">住所</label>
            <input type="text" id="address" name="address">
        </p>
        <p>
            <label for="phone_number">電話番号</label>
            <input type="tel" id="phone_number" name="phone_number">
        </p>
        <p>
            <label for="license">取得資格</label>
            <input type="text" id="license" name="license">
        </p>

        <button type="submit">登録</button>
    </form>
</div>

<p><a href="/master">ユーザーマスタに戻る</a></p>
{% endblock %}