{% extends "layout.html" %}

{% block content %}
<h1>新規登録</h1>
<p>{{ errorMessage }}</p>

<div>
    <form action="/new" method="POST">
        {{ form.hidden_tag() }}

        <p>
            <label for="email">e-mail:</label>
            {{ form.email }}
            {% for error in form.email.errors %}
                <span style="color: red">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            <label for="username">名前:</label>
            {{ form.name }}
            {% for error in form.name.errors %}
                <span style="color: red">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            <label for="password">パスワード:</label>
            {{ form.password }}
            {% for error in form.password.errors %}
                <span style="color: red">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            <label for="gender">性別:</label>
            {% for subfield in form.gender %}
                <label>
                    {{ subfield() }} {{ subfield.label }}
                </label>
            {% endfor %}
            {% for error in form.gender.errors %}
                <span style="color: red">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            <label for="post_code">郵便番号</label>
            {{ form.post_code }}
            {% for error in form.post_code.errors %}
                <span style="color: red">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            <label for="address">住所</label>
            {{ form.address }}
            {% for error in form.address.errors %}
                <span style="color: red">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            <label for="phone_number">電話番号</label>
            {{ form.phone_number }}
            {% for error in form.phone_number.errors %}
                <span style="color: red">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            <label for="license">取得資格</label>
            {{ form.license }}
            {% for error in form.license.errors %}
                <span style="color: red">{{ error }}</span>
            {% endfor %}
        </p>

        <button type="submit">登録</button>
    </form>
</div>

<p><a href="/master">ユーザーマスタに戻る</a></p>
{% endblock %}