{% extends "layout.html" %}

{% block content %}
<h1>パスワードリセット画面</h1>

<div>
    <form action="/password_reset" method="post">
        <p>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </p>
        <p>
            <label for="new_password">新しいPassword</label>
            <input type="password" id="new_password" name="new_password" required>
        </p>
        <button type="submit">パスワード変更</button>
    </form>
</div>

<p><a href="/login">ログイン画面に戻る</a></p>
{% endblock %}