{% extends "layout.html" %}

{% block content %}
<h1>ユーザー更新</h1>
<p>{{ message }}</p>

<div>
    <form action="/update/{{ id }}" method="POST">
        {{ form.hidden_tag() }}
        <p>
            <label for="email">email</label>
            {{ form.email }}
            {% for error in form.email.errors %}
                <span style="color: red">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            <label for="username">名前</label>
            {{ form.name }}
            {% for error in form.name.errors %}
                <span style="color: red">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            <label for="password">パスワード</label>
            {{ form.password }}
            {% for error in form.password.errors %}
                <span style="color: red">{{ error }}</span>
            {% endfor %}
        </p>

        <button type="submit" name="method" value="PUT" style="margin-right: 50px;">更新</button>
        <button type="submit" name="method" value="DELETE">削除</button>
    </form>
</div>

<p><a href="/master">ユーザーマスタに戻る</a></p>
{% endblock %}